/* Banner Styling -> Start */
#banner_holder{
    height: 300px;
    width: 100%;
}

#banner_images{
    background-image: url('../images/banner1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 300px;
    width: 100%;
}

#banner_overlay{
    background-color: rgba(255, 153, 0, 0.88);
    height: 300px;
    width: 100%;
}

#search{
    background-color: rgba(255, 255, 255, 0.9);
}

#warning{
    color: transparent;
}
/* Banner Styling -> End */

/* Content Grid Styling -> Start */
.content_item{
    cursor: pointer;
}

.content_item img{
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.content_item:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card_img_holder{
    overflow: hidden;
}

.card-body span{
    font-size: 1.5em;
}
/* Content Grid Styling -> End */

/* Content Single User Styling -> Start */
.fa-door-open{
    color: #333;
}
/* Content Single User Styling -> End */

/* Buttons Styling -> Start */
#go_home, #load_more{
    position: fixed;
    bottom: 20px;
    left: 20px;
    /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9); */
}

/* Back To Home Animation */
@-webkit-keyframes pulse{
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1); }
    75% { transform: scale(0.8); }
    100% { transform: scale(1); }
}
@keyframes pulse{
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1); }
    75% { transform: scale(0.8); }
    100% { transform: scale(1); }
}
#go_home:hover .fa-home{
    -webkit-animation: pulse 2s infinite linear;
    animation: pulse 2s infinite linear;
}

/* Load More Users Animation */
#load_more:hover .fa-arrow-down{
    -webkit-animation: pulse 2s infinite linear;
    animation: pulse 2s infinite linear;
}
/* Buttons Styling -> End */